#main{

    padding: 0%;
    min-height: 160vh;
}

#messageaccueil{
    font-family: 'Roboto Slab', serif;
    margin-top: 120px;
}
#buttons{
    font-family: 'Lato', sans-serif;
}


.container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Roboto Slab', serif;
    border-radius: 10px;


}

.nav-link,.nav-link:focus{
    color: whitesmoke;
}
.nav-link:hover{
    color:rgb(28, 6, 155);
}
.nav-link:focus{
    color:royalblue;
}

.card li{
    margin-top: 15px;
}

